<center><h1>{{r.name}}</h1></center>

<div class="ui equal height celled grid" id="central">
	<div class="row">
		<div class="eleven wide column">
			<div class="ui huge header" id='timer' style="font-size: 12em">0.00</div>
			<div id='choices'><a id='nopenalty' href='#'>No Penalty</a> | <a id='plus2' href='#'>+2</a> | <a id='dnf' href='#'>DNF</a></div>
		</div>
		<div class="five wide column" id="chatColumn">
			<div class="ui list" id="chat"></div>
		</div>
	</div>
	<div class="row">
		<div class="three wide column">
			<form id='ready'>
				<button id='newscramble' class='fluid ui button' onClick="this.blur();">New Scramble</button>
			</form>		</div><div class="eight wide column">	
			<div id='scramble'><br></div>
		</div>
		<div class="five wide column">
			<form class="ui form" id="chatform">
				<div class="inline fields">
					<div class="field">
						<input type="hidden" id="room" value="{{id}}"></input>
					</div>
					<div class="field">
						<input type="text" id="msg" autocomplete="off" placeholder="Write your message here...">
					</div>
					<button class="fluid ui button">Send</button>	
				</div>
			</form>
		</div>
	</div>

</div>

<table class='ui celled table' id='userTimes'>
	<thead></thead>
	<tbody></tbody>
</table>
<hr>


<table id='times'>
</table>



<script src="/js/script.js"></script>